<!-- Comment Section Title -->
<div class="flex items-center mt-4">
  <h2 class="text-xl font-semibold">Comment</h2>
</div>

<div class="my-4">
  <!-- Comment List -->
  <div class="flex flex-col space-y-6">
    <app-post-comment-item
      *ngFor="let comment of comments"
      [comment]="comment"
    ></app-post-comment-item>
  </div>
  <!-- Comment Box -->
  <div class="flex items-start mt-4 space-x-3">
    <img
      class="object-cover w-10 h-10 rounded-full aspect-square"
      src="{{ currentUser?.avatar }}"
      alt="{{ currentUser?.username }}"
    />

    <div
      class="flex items-center flex-grow px-3 py-2 border border-orange-500 focus-within:rounded-lg focus-within:py-3 rounded-3xl"
    >
      <textarea
        placeholder="Write your thought..."
        (focus)="onFocus(true)"
        [(ngModel)]="commentContent"
        autosize
        minRows="1"
        class="w-full outline-none resize-none"
      ></textarea>
    </div>
  </div>
  <!-- Send Control -->
  <div
    class="flex items-center justify-end mt-4 space-x-2"
    [ngClass]="isShowControlBox ? 'block' : 'hidden'"
  >
    <div
      class="px-3 py-2 cursor-pointer rounded-3xl hover:bg-gray-200"
      (click)="onFocus(false)"
    >
      <span class="font-semibold" (click)="clearCommentContent()">Cancel</span>
    </div>

    <button
      [disabled]="commentContent.length === 0"
      [ngClass]="commentContent.length !== 0 ? 'cursor-pointer' : ''"
      class="px-4 py-2 font-semibold text-white bg-orange-500 rounded-3xl hover:bg-orange-600 disabled:bg-orange-100 disabled:text-gray-500"
      (click)="sendComment()"
    >
      Send
    </button>
  </div>
</div>
