<div
  class="flex items-center justify-start h-6 mb-1 ml-2 space-x-1 animate-pulse"
>
  <div class="w-1 h-1 bg-gray-100 rounded-full"></div>
  <div class="w-1 h-1 bg-gray-100 rounded-full"></div>
  <div class="w-1 h-1 bg-gray-100 rounded-full"></div>
</div>

<div class="grid grid-cols-4 grid-rows-2 gap-3">
  <div
    class="flex items-center justify-center h-24 space-x-1 animate-pulse bg-slate-100 rounded-2xl"
  >
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
  </div>
  <div
    class="flex items-center justify-center h-24 space-x-1 animate-pulse bg-slate-100 rounded-2xl"
  >
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
  </div>
  <div
    class="flex items-center justify-center h-24 space-x-1 animate-pulse bg-slate-100 rounded-2xl"
  >
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
  </div>
  <div
    class="flex items-center justify-center h-24 space-x-1 animate-pulse bg-slate-100 rounded-2xl"
  >
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
  </div>
  <div
    class="flex items-center justify-center h-24 space-x-1 animate-pulse bg-slate-100 rounded-2xl"
  >
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
  </div>
  <div
    class="flex items-center justify-center h-24 space-x-1 animate-pulse bg-slate-100 rounded-2xl"
  >
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
  </div>
  <div
    class="flex items-center justify-center h-24 space-x-1 animate-pulse bg-slate-100 rounded-2xl"
  >
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
  </div>
  <div
    class="flex items-center justify-center h-24 space-x-1 animate-pulse bg-slate-100 rounded-2xl"
  >
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
  </div>
</div>
