<div class="mt-8">
  <span class="text-sm">Profile Picture</span>
  <div class="flex items-center space-x-5 animate-pulse">
    <div class="w-20 h-20 rounded-full bg-slate-100"></div>

    <!-- Button change image -->
    <div class="px-3 py-2 w-[100px] h-10 bg-slate-100 rounded-3xl"></div>
  </div>
</div>

<div class="flex mt-4">
  <div class="flex-1 form-group">
    <div class="text-sm" for="displayName">Display name</div>
    <div
      class="w-full h-10 px-3 py-2 animate-pulse bg-slate-100 rounded-3xl"
    ></div>
  </div>
</div>

<div class="mt-2">
  <div class="form-group">
    <div class="text-sm" for="bio">Bio</div>
    <div
      class="w-full h-10 px-3 py-2 animate-pulse bg-slate-100 rounded-3xl"
    ></div>
  </div>
</div>

<div class="mt-2">
  <div class="form-group">
    <div class="text-sm" for="username">Username</div>
    <div
      class="w-full h-10 px-3 py-2 animate-pulse bg-slate-100 rounded-3xl"
    ></div>
  </div>
</div>

<div class="flex justify-center mt-2">
  <div
    class="animate-pulse px-3 py-2 w-[100px] h-10 bg-slate-100 rounded-3xl"
  ></div>
</div>
